.contents-wrap {
    position: relative;
    .pop-wrap {
        display: flex;
        position: absolute;
        right: -60px;
        width: $max-notifi-width;
        max-height: 362px;
        justify-content: center;
        overflow-y: auto;
        @include boxBorder(yes);
        .loading {
            display: flex;
            padding: 30px 0;
        }
        .notification {
            width: 100%;
        }
    }
}